RewriteEngine On

RewriteRule ^docs/(.+)$ https://media.manresa.cat/docs/$1 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?PATH_INFO=$1 [L,QSA]

