.indicadorsDiv{
    margin-top: 15vh;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.indicadorsDiv ul:not(.browser-default)>li {
    list-style-type: disc;
    list-style-position: outside;
    font-size: 125%;
    line-height: 30px;
    color: white;
}
.indicadorsDiv h3{
    font-weight: 700;
    font-size: 20px;
}

.indicadorsDiv ul{
    margin-top: 0px;
    margin-left: 20px;
}
.socioeDiv {
    width: 24%;
    background-image: linear-gradient(40deg,#af65a0 12%,rgba(175,101,160,0.39) 100%);
    margin-left: 10%;
}
.escolarsDiv{
    width: 24%;
    background-image: linear-gradient(40deg,#dd8866 12%,#ebc9bf 100%);
    margin-right: 10%;
}
.demograDiv{
    width: 24%;
    background-image: linear-gradient(40deg,#65ad9f 12%,rgba(101,173,159,0.31) 100%);
}
.indicsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;

}

.indicsDiv a{
    color: #FFFFFF!important;
    align-self: center;
    transition: all 300ms ease 0ms;
    display: inline-block;
    position: relative;
    font-size: 23px;
    font-weight: 500;
    padding: 0.3em 1em;
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.7em!important;
    background-color: transparent;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 2px solid;
    border-radius: 3px;
    text-align: center;
    margin-top: 8%;
    width: 100%;

}
.indicsDiv a:hover{
    border-color: transparent;
    padding-left: 22px;    
}
.socioeDiv a:hover{
    background-color: rgba(175,101,160,0.39);  
}
.demograDiv a:hover{
    background-color: #65ad9f;
}
.escolarsDiv a:hover{
    background-color: #dd8866;
}

.sendDiv a:hover{
    border-color: transparent;
    background-color: #419e8c; 
}
.indicsDiv i.material-icons{
    font-size: 30px;
    vertical-align: middle;
}

.indicsDiv h3{
    font-weight: 700;
    font-size: 23px;

}
.socioeDiv h3{
    color: #611d58!important;
}
.demograDiv h3{
    color: rgba(0,0,0,0.5)!important;
}
.escolarsDiv{
    color: #245d9b!important;
}

@media only screen and (max-width: 720px) { 
    .indicadorsDiv{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0px;
        padding: 10px;
    }
    .indicsDiv{
        margin: 0px;
        margin-top: 20px;
        width: 100%;
    }
    .indicsDiv a{
        padding-right: 10px;
        padding-left: 10px;
    }
}