@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..800');
.mainTitle h1{
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: #611d58!important;
    letter-spacing: 2px;
    line-height: 1.2em;
    text-align: center;
}

.mainTitle{
    width: 100%;
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    padding-top: 13vh;
    background-image: linear-gradient(360deg,#ffffff 11%,rgba(255,255,255,0.51) 100%),url("../res/img/portada-material-escolar.jpg")!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;  
    word-wrap: break-word;
    height: 660px;
    
}

@media only screen and (max-width: 720px) {
    .mainTitle{
        margin-top: 0vh;
        padding-left: 1vh;
        padding-right: 1vh;    
    }
    .mainTitle h1{
        font-size: 45px;
    }
    
}