.aboutDiv{
    background-image: url("../res/img/aboutBackground.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:baseline;
    padding-left: 10%;
    padding-right: 7%;
    padding-top: 7%;
    word-wrap: break-word;

}
.aboutDiv  p{
    line-height: 1.7em;
    color: #611d58!important;
    justify-self: left;
}
.aboutDiv  li{
    color: #611d58!important;
}
.aboutDiv h2{
    font-size: 31px;
    color: #611d58!important;
    font-weight: bold;
}
.aboutSuvDiv{
    margin-right: 3%;
}

.poblacioInteressadaDiv{
    list-style-position: inside;
}
.aboutSuvDiv li{
    list-style-position: outside !important;
    list-style-type: disc !important;
    margin-left: 2.3%;
}
.poblacioInteressadaDiv li{
    margin-left: 5.5%;

}

.aboutDiv img{
    width: 50%;
    margin-bottom: 12vh;
}

.sobreLobservatoriDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 23%;
    
}
.sobreLobservatoriDiv h2{
    align-self: self-start;
}
.aboutSuvDiv h2{
    margin: 0px;
}
@media only screen and (max-width: 720px) {
    .aboutDiv{
        padding-left: 10%;
        position: relative;
        flex-direction: column;
        padding: 0%;
        width: 100%;
        
    }
    .aboutSuvDiv{
        width: 80%;
        margin-left: 10%;
        
    }

    .aboutSuvDiv h2{
        font-size: 25px;
        line-height: 2.3rem;
    }
    .aboutSuvDiv li{
        list-style-position: inside !important;
        list-style-type: disc !important;
        margin-left: 2.3%;
        margin-bottom: 2%;
    }
    .sobreLobservatoriDiv{
        margin-top: 60%;
    }
}